
samples/Books-5-5-9/app/src/main/res/drawable-hdpi/badge_background.png

samples/Books-5-5-9/app/build.gradle

samples/Books-5-5-9/app/proguard-rules.pro

samples/Books-5-5-9/app/src/main/AndroidManifest.xml
